.MiDGrid{  background-color: #fff; border: solid 1px #525252; border-collapse: collapse; margin: 0px 0px;margin-left:auto; margin-right:auto; }

.MiDGrid th
{
    font: 12px 新細明體;
    background: #c1def5 url(bg_header.png) repeat-x top;
    color: #004080;
    font-weight: bold;
    border: solid 1px #c1def5;
    padding: 4px 2px;
}
.MiDGrid td
{
    font: 12px 新細明體;
    text-align: center;
    color: #004080;
    border: solid 1px #c1def5;
    padding: 4px 2px 4px 2px ; 
}
.MiDGrid a{color: #004080;text-decoration: underline;} 
.MiDGrid a:hover{color: #ff9105;text-decoration: none;}

.GridNonBorder{  background-color: #fff; border: 0; border-collapse: collapse; margin: 5px 10px; }
.GridNonBorder th
{
    font: 12px 新細明體;
    background: #c1def5 url(bg_header.png) repeat-x top;
    color: #004080;
    font-weight: bold;
    border: 0;
    padding: 4px 2px;
}
.GridNonBorder td
{

    font: 12px 新細明體;
    text-align: center;
    color: #004080;
    border: 0;
    padding: 4px 2px 4px 2px ; 
}
.GridNonBorder a{color: #004080;text-decoration: underline;} 
.GridNonBorder a:hover{color: #ff9105;text-decoration: none;} 