.Grid{ font: 18px Calibri; background-color: #fff; border: solid 1px #525252; border-collapse: collapse; margin: 10px 10px;  margin-left: auto; margin-right: auto;}

.Grid th
{

    font: 18px Calibri;
    background: #c1def5 url(bg_header.png) repeat-x top;
    color: #004080;
    font-weight: bold;
    border: solid 1px #c1def5;
}
.Grid td
{
    height:5;
    font: 18px Calibri;
    color: #004080;
    border: solid 1px #c1def5;
}
.Grid a{color: #004080;text-decoration: underline;} 
.Grid a:hover{color: #ff9105;text-decoration: none;} 


.btn
{
    width: 140px;
    height: 22px;
    font: 14px/14px bold Calibri;
    background-color: #2e8ccc;
    color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
}

.borderRed { border-color: Red; border-style: solid; border-width: 1px;}